*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
margin:0;
background:#050505;
color:white;
}


.box{
max-width:420px;
margin:30px auto;
padding:25px;
background:#111;
border:2px solid gold;
border-radius:25px;
box-shadow:0 0 20px gold;
}


h1{
text-align:center;
color:#d4af37;
}


.box p{
text-align:center;
color:white;
}


input,select{

width:100%;
padding:14px;
margin:10px 0;
border-radius:12px;
border:1px solid #d4af37;
background:#222;
color:white;
font-size:16px;

}


.password{
position:relative;
}


.password span{

position:absolute;
right:15px;
top:25px;
cursor:pointer;

}


label{

font-size:14px;

}


button{

width:100%;
padding:15px;
margin-top:20px;
background:#d4af37;
color:black;
border:none;
border-radius:12px;
font-size:18px;
font-weight:bold;
cursor:pointer;

}


button:hover{

background:white;

}
